@import "tailwindcss";

@theme {
  /* Mendaftarkan Custom Colors */
  --color-brand-red: #E02E2B;
  --color-brand-white: #FFFFFF;
  --color-brand-orange: #C66716;

  /* Mengubah default font sans ke Inter */
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}